<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>antijoke.net</title>

    <!-- Favicon -->
  <link rel="icon" href="img/avataaars.png">

  <!-- update the version number as needed -->
  <script defer src="/__/firebase/6.2.4/firebase-app.js"></script>
  <!-- include only the Firebase features as you need -->
  <script defer src="/__/firebase/6.2.4/firebase-auth.js"></script>
  <script defer src="/__/firebase/6.2.4/firebase-firestore.js"></script>
  <script defer src="/__/firebase/6.2.4/firebase-messaging.js"></script>
  <script defer src="/__/firebase/6.2.4/firebase-storage.js"></script>
  <!-- initialize the SDK after all desired features are loaded -->
  <script defer src="/__/firebase/init.js"></script>

  <!-- vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- Custom fonts for this theme -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

  <!-- Theme CSS -->
  <link href="css/freelancer.css" rel="stylesheet">
  <link href="css/animate.css" rel="stylesheet">
  <link href="css/temp.css" rel="stylesheet">

</head>

<body>
  <div id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="https://antijoke.net"><img width="35" src="img/avataaars.png"/>antijoke.net</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Flavors</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
            </li>
            <!-- <li class="nav-item mx-0 mx-lg-1" data-toggle="modal" data-target="#roadmapModal">
              <a id="roadmapButton" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Roadmap</a>
            </li> -->
            <li id="signInContainer" class="nav-item mx-0 mx-lg-1" data-toggle="modal" data-target="#signInModal" style="cursor: pointer;">
              <a id="signInButton" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Sign In / Register</a>
            </li>   
            <li id="signOutContainer" class="nav-item mx-0 mx-lg-1" style="display: none;">
              <a id="signOutButton" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" onclick="signout();" style="cursor: pointer;">Sign Out</a>
            </li>                   
          </ul>
        </div>
      </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead bg-primary text-white text-center">

      <!-- <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div> -->

      <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Subheading -->
        <p id="header-text" class="animated bounce masthead-heading font-weight-bold mb-0" style="font-family: Montserrat;"></p>

        <br>

        <!-- Masthead Heading -->
        <h1 id="joke-header" class="masthead-heading mb-0" style="width: 100%; display: none;">

          <div id="joke-header-container" class="container">
            
          </div>

        </h1>

        <joke-userinfo v-bind:joke="usercontent" v-bind:jokeid="jokeid" v-bind:userid="user.uid" v-if="user && user.emailVerified && punchlineVisible"></joke-userinfo>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
          </div>
          <div class="divider-custom-line"></div>
        </div>

        <!-- Masthead Avatar Image -->
        <img id="laughing-head" style="display: none;" onclick="loadJoke();" class="masthead-avatar mb-5" src="img/avataaars.svg" alt="" title="Click to load next joke">
        <h1 id="new-button" style="display: none;" class="masthead-heading mb-3"><span onclick='loadJoke();'  title="Click to load next joke" class='clickable badge badge-secondary'>Load another joke</span></h1>
      </div>
    </header>

    <!-- Portfolio Section -->
    <section class="page-section portfolio" id="portfolio">
      <div class="container">

        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Joke Flavors</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
          </div>
          <div class="divider-custom-line"></div>
        </div>

        <!-- Portfolio Grid Items -->
        <div class="row">

          <!-- Portfolio Item 1 -->
          <div class="col-md-6 col-lg-4">
            <div class="portfolio-item mx-auto" onclick="window.location.href = window.location.origin + '?subject=general';">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/general.png" alt="">
              <center><h2><span class='clickable badge badge-dark'>General</span><h2></h2></center>
            </div>
          </div>

          <!-- Portfolio Item 2 -->
          <div class="col-md-6 col-lg-4">
            <div class="portfolio-item mx-auto" onclick="window.location.href = window.location.origin + '?subject=animals';">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/animals.png" alt="">
              <center><h2><span class='clickable badge badge-dark'>Animals</span><h2></h2></center>
            </div>
          </div>

          <!-- Portfolio Item 3 -->
          <div class="col-md-6 col-lg-4">
            <div class="portfolio-item mx-auto" onclick="window.location.href = window.location.origin + '?subject=jobs';">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/jobs.png" alt="">
              <center><h2><span class='clickable badge badge-dark'>Jobs</span><h2></h2></center>
            </div>
          </div>

          <!-- Portfolio Item 4 -->
          <div class="col-md-6 col-lg-4">
            <div class="portfolio-item mx-auto" onclick="window.location.href = window.location.origin + '?subject=numbers';">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/numbers2.png" alt="">
              <center><h2><span class='clickable badge badge-dark'>Numbers</span><h2></h2></center>
            </div>
          </div>

          <!-- Portfolio Item 5 -->
          <div class="col-md-6 col-lg-4">
            <div class="portfolio-item mx-auto" onclick="window.location.href = window.location.origin + '?subject=transportation';">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/transportation2.png" alt="">
              <center><h2><span class='clickable badge badge-dark'>Transportation</span><h2></h2></center>
            </div>
          </div>

          <!-- Portfolio Item 6 -->
          <div class="col-md-6 col-lg-4">
            <div class="portfolio-item mx-auto" onclick="window.location.href = window.location.origin + '?subject=food';">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/food.png" alt="">
              <center><h2><span class='clickable badge badge-dark'>Food</span><h2></h2></center>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
    </section>

    <!-- About Section -->
    <section class="page-section bg-primary text-white mb-0" id="about">
      <div class="container">

        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
          </div>
          <div class="divider-custom-line"></div>
        </div>

        <!-- About Section Content -->
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead">Wikipedia says that <a style="color: white; font-weight: bold;" href="https://en.wikipedia.org/wiki/Anti-humor" target="_blank">anti-humor</a> is "based on the <a  style="color: white; font-weight: bold;" href="https://en.wikipedia.org/wiki/Surprise_factor" target="_blank">surprise factor</a> of absence of an expected joke or of a punch line in a narration which is set up as a joke."</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">This site is all about that, and how surprising contrasts can be humerous and fun.  Register today to submit and upvote your favorite jokes.</p>
          </div>
        </div>

        <!-- About Section Button -->
        <!-- <div class="text-center mt-4">
          <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">
            <i class="fas fa-download mr-2"></i>
            Free Download!
          </a>
        </div> -->

      </div>
    </section>

    <!-- Contact Section -->
    <section class="page-section" id="contact">
      <div class="container">

        <!-- Contact Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Submit a Joke</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
          </div>
          <div class="divider-custom-line"></div>
        </div>

        <!-- Contact Section Form -->
        <div class="row">
          <div v-if="user && user.emailVerified" class="col-lg-8 mx-auto">
            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
            <form name="submitJoke" id="joke-form" novalidate="novalidate">
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label id="jokeLabel">Joke</label>
                  <textarea class="form-control" id="joke-submit-text" rows="5" placeholder="Joke" required="required" data-validation-required-message="Please enter a joke."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <br>
              <div id="success"></div>
              <div class="form-group">
                <button type="button" class="btn btn-primary btn-xl" id="submitJokeButton" onclick="sendJoke()">Submit</button>
              </div>
            </form>
          </div>
          <div v-if="!user" class="mx-auto text-center">
            <div class="alert alert-info" role="alert">
                You have to be a member to submit a joke, so register today, it only takes a minute.
            </div>            
            <button type="button" class="btn btn-primary mx-auto" data-toggle="modal" data-target="#signInModal">Sign In / Register</button>
          </div> 
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">

          <!-- Footer Location -->
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Location</h4>
            <p class="lead mb-0">We were swimming in all of these bytes, and then this algorithm came along... <a href="https://www.urbandictionary.com/define.php?term=Location%20Joke" target="_blank" style="color: white; font-weight: bold;">Well, you had to be there.</a></p>
              
          </div>

          <!-- Footer Social Icons -->
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Source Code</h4>
            <div>
                Crafted in the ☁ with ❤ on <a href="https://gitlab.com/tyayers/antijoke.net" target="_blank">GitLab</a> and <a href="https://firebase.google.com" target="_blank" style="margin-left: 5px;">Google Cloud Firebase</a>
            </div>
          </div>

          <!-- Footer About Text -->
          <div class="col-lg-4">
            <h4 class="text-uppercase mb-4">Do Something Nice</h4>
            <p class="lead mb-0">Tell someone a joke, they will appreciate it.</p>
          </div>

        </div>
      </div>
    </footer>

    <!-- Copyright Section -->
    <section class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; antijoke.net</small>
      </div>
    </section>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Modals -->

    <!-- Sign in modal -->
    <div class="portfolio-modal modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="fas fa-times"></i>
            </span>
          </button>
          <div class="modal-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Sign In</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Register</a>
                </li>

              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <br>
                  <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="signin-email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="signin-pw" placeholder="Password">
                    </div>
                    <button id="signin-submit" type="button" class="btn btn-primary" data-dismiss="modal" onclick="signin();">Sign in</button>
                  </form>               
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <br>
                  Thank you for your interest in registering with us, please fill in your email address and a password, and press the Register button.
                  <br><br>
                  <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="register-email" aria-describedby="emailHelp" placeholder="Enter email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="register-pw" placeholder="Password">
                    </div>
                    <button id="register-submit" type="button" data-dismiss="modal" class="btn btn-primary" onclick="register();">Register</button>
                  </form>   
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>

  <script src="js/script.js"></script>
  <script src="js/vue/joke-userinfo.js"></script>

  <script>

  </script>

</body>

</html>
